body{
    background-color: #acacac;
    
}

.container{
    width: 600px; 
    margin: 0 auto; 
    
}

.topnav{
    background-color: #797979;
    height: 3rem;
    display:grid;
    grid-template-columns: 3fr 1fr 5fr; 
}

.topnav .button{
    min-height: 3rem; 

}

.brand-text{
    font-size: 1.5rem; 
    color: white; 
    text-decoration: none;
    line-height: 3rem;
    margin-left: 1.5rem;
}

.user{
    color: #cecece;
    line-height: 3rem;
    font-size: 1.5rem;

}

.nav-link{
   float:right; 
}

.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden; 
}

.topnav li a{
    display: block; 
    color: white;
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
}